{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <!-- Display a heading for the Change Password section -->
    <h2>Change Password</h2>

    <!-- Create a form for changing the password -->
    <form method="post" action="{% url 'change_password' %}" class="form">
        {% csrf_token %}

        <!-- Input field for the old password -->
        <div class="form-group">
            <label for="{{ form.old_password.id_for_label }}">Old Password</label>
            <input type="{{ form.old_password.field.widget.input_type }}" name="{{ form.old_password.name }}" class="form-control" id="{{ form.old_password.id_for_label }}" value="{{ form.old_password.value }}">
        </div>

        <!-- Input field for the new password -->
        <div class="form-group">
            <label for="{{ form.new_password1.id_for_label }}">New Password</label>
            <input type="{{ form.new_password1.field.widget.input_type }}" name="{{ form.new_password1.name }}" class="form-control" id="{{ form.new_password1.id_for_label }}" value="{{ form.new_password1.value }}">
        </div>

        <!-- Input field to confirm the new password -->
        <div class="form-group">
            <label for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
            <input type="{{ form.new_password2.field.widget.input_type }}" name="{{ form.new_password2.name }}" class="form-control" id="{{ form.new_password2.id_for_label }}" value="{{ form.new_password2.value }}">
        </div>

        <!-- Line break for better visual separation -->
        <br>

        <!-- Submit button to trigger the password change -->
        <button type="submit" class="btn btn-secondary">Change Password</button>
    </form>
</div>
{% endblock %}
